asgiref
certifi
cffi
charset-normalizer
cryptography
defusedxml
dj-rest-auth
Django==4.1
django-allauth
django-environ
djangorestframework
idna
oauthlib
Pillow
pycparser
PyJWT
python3-openid
pytz
requests
requests-oauthlib
six
sqlparse
typing_extensions
urllib3
gunicorn